{% extends 'base.html' %}

{% block title %}
    Fighter list
{% endblock %}

{% block main %}

<h1>🥊 UFC Fighters List</h1>

<a href="{% url 'fighter_create' %}">
    <button class="btn btn-primary">Create</button>
</a>

<div class="fighters">
    {% for fighter in fighter %}
        <div class="fighter-card" style="margin-bottom:20px; border:1px solid #ccc; padding:10px;">


            <form action="{% url 'fighter_delete' fighter.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

            <a href="{% url 'fighter_update' fighter.id %}">
                <button class="btn btn-warning">Update</button>
            </a>


            <h2>{{ fighter.name }} ({{ fighter.nickname }})</h2>
            <p>Weight Class: {{ fighter.weight_class }}</p>
            <p>Record: {{ fighter.wins }}W - {{ fighter.losses }}L</p>

        </div>
    {% endfor %}
</div>

{% endblock %}